
fastapi
uvicorn
websockets
pydantic

openai
python-dotenv


fastmcp
mcp

faster-whisper
openwakeword
sounddevice
soundfile
gTTS
librosa
chromadb
sentence-transformers


torch
torchvision
numpy
onnxruntime
transformers


playwright
pyautogui
pygetwindow
AppOpener
easyocr
psutil

customtkinter

requests
pyyaml
